---
layout: article
---

{% assign padapt-data = site.data.padapt %}

<h4>by orders</h4>
{% for row in padapt-data %}
{% assign fruits = fruits | append: row.order_lat | append: "," %}
{% endfor %}
{% assign unique_fruits = fruits | split: "," | uniq | sort %}

{% for fruit in unique_fruits %}
    <a href="/taxonomy/{{ fruit }}">
        {{ fruit }} </a>
{% endfor %}

<h4>by families</h4>
{% for row in padapt-data %}
{% assign fruit1s = fruit1s | append: row.family_lat | append: "," %}
{% endfor %}
{% assign unique_fruit1s = fruit1s | split: "," | uniq | sort %}

{% for fruit1 in unique_fruit1s %}
    <a href="/taxonomy/{{ fruit1 }}">
        {{ fruit1 }} </a>
{% endfor %}

<h4>by genus</h4>
{% for row in padapt-data %}
{% assign fruit2s = fruit2s | append: row.genus_lat | append: "," %}
{% endfor %}
{% assign unique_fruit2s = fruit2s | split: "," | uniq | sort %}

{% for fruit2 in unique_fruit2s %}
    <a href="/taxonomy/{{ fruit2 }}">
        {{ fruit2 }} </a>
{% endfor %}