---
layout: page
---
<ul >
{% for document in site.tags %}
    <li>
    {{document.title}}
        {% for tag in document.tags %}
            <a class="button button--secondary button--pill button--sm"
                   href="/tags/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        {% if document.max_magassag %}
        <a class="button button--secondary button--pill button--sm"
               href="/tags/max-magassag-{{ document.max_magassag }}">max-magassag-{{document.max_magassag  }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>



