@mixin modal($z-index: default, $color: default, $background-color: default) {
  @if $z-index == default {
    $z-index: map-get($z-indexes, modal);
  }
  @if $color == default {
    $color: $text-color-theme-dark;
  }
  @if $background-color == default {
    $background-color: $mask-color;
  }
  position: fixed;
  top: 0;
  left: 27rem;
  z-index: $z-index;
  width: auto;
  height: auto;
  color: $color;
  touch-action: none;
  opacity: 0;
}
@mixin modal--show() {
  opacity: 1;
}

.modal {
  @include modal();
}
.modal--show {
  @include modal--show();
}
.modal--overflow {
  @include overflow(auto);
}
