.wrapper {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow the TOC and content to wrap if needed */
    margin-top: 2rem;
}

.toc {
    width: 30%; /* width for the TOC */
    background-color: #E6E3DF;
//     border: 1px solid #ddd;
    border-radius: map-get($base, border-radius);
    box-sizing: border-box;
    position: sticky; /* Make TOC sticky */
    padding: 10px 0px 10px 0;
    top: 5rem; /* Offset from the top */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    height: fit-content;
    font-weight: 400;
    margin-top: 2rem;
}

.toc ul {
    list-style-type: none; /* Add dots in front of items */
    padding-left: 20px; /* Add padding to align the dots */
    margin: 0; /* Remove default margin */
}

.toc li {
    margin: 0.1em 0; /* Space between items */
    }

.toc li.active {
    background-color: $background-color;
}

.toc-entry  {

padding: 5px 0px 5px 5px;
  border-bottom-left-radius: map-get($base, border-radius);
  border-top-left-radius: map-get($base, border-radius);
}
.toc-entry > a  {
color: $text-color-3;
}

.toc-entry.active > a{
    font-weight: 600; /* Make active item bold */
    background-color: $background-color;
}

.content {
    width: 70%; /* width for the main content */
    /* Add padding: top right bottom left */
    padding: 0 20px 150px 40px;
    box-sizing: border-box; /* Include padding in width */
}
