.taxa-wrapper {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow the TOC and content to wrap if needed */
  margin-top: 2rem;
  background: #f0f0f0;
}

.taxonomy {
  cursor: pointer;
  margin: 10px 0;
}

.taxonomy .name-row {
  cursor: pointer;
}

.taxonomy .SplitTaxon {
  cursor: pointer;
}

.sub-taxa {
  display: none; /* Sub-taxa are hidden by default */
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.button--secondary, .button--secondary:link, .button--secondary:visited {
  color: #333;
  background-color: #ddd;
}

.button--illatos, .button--illatos:link, .button--illatos:visited {
  color: #eee;
  background-color: #A51AC4;
}
.button--illatos:hover {
}
.root[data-is-touch=false] .button--illatos:hover {
  color: #eee;
  background-color: #701285;
}
.taxa-container {
  width: 55%; /* width for the main content */
  /* Add padding: top right bottom left */
  padding: 20px 0 20px 20px;
  box-sizing: border-box; /* Include padding in width */
  cursor: pointer;
  font-size: map-get($base, font-size-h5);
  font-weight: 400;
}

summary {
  list-style: none;
  /* padding: top right bottom left */
  padding: 5px 0 5px 5px;

}

summary.active {
  background-color: white; /* Example styling */
}
summary:hover.active {
  background-color: white;
  text-decoration: underline;
}

summary:hover {
  background-color: #f7f7f7;
  text-decoration: underline;
}

.top-taxa3 {
  margin-left: 40px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #aaa;
}
.sub-taxa3 {
  margin-left: 40px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #aaa;
}
.taxa-list {
  width: 45%; /* width for the main content */
  /* Add padding: top right bottom left */
  padding: 20px 0 0 20px;
  box-sizing: border-box; /* Include padding in width */
  background: white;
}

.taxa_title {
  font-size: map-get($base, font-size-h2);
  font-weight: 300;
}

.image-container {
  width: 100%; /* Adjust as needed for two images of 300px each */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents images from wrapping to the next line */
}

.image-wrapper {
  display: inline-flex; /* Use inline-flex to keep images in a row */
}

.image-wrapper img {
  height: 20rem; /* Set the height of the images */
  max-width: 20rem; /* Set the width of the images */
  object-fit: cover; /* Ensures images maintain aspect ratio */
  margin-right: 10px; /* Optional: Add space between images */
}

.image-container::-webkit-scrollbar {
  height: 14px; /* Height of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker color on hover */
}
