.taxa-wrapper {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow the TOC and content to wrap if needed */
  margin-top: 2rem;
  border-radius: map-get($base, border-radius);
}

.sub-taxa {
  display: none; /* Sub-taxa are hidden by default */
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.button--secondary, .button--secondary:link, .button--secondary:visited {
  color: #333;
  background-color: $button-color;
}

.button--success, .button--success:link, .button--success:visited {
  color: #fff;
  background-color: #74ac00;
}
.button--flowering, .button--flowering:link, .button--flowering:visited {
  color: #fff;
  background-color: #bf1d99;
}
.button--vizi, .button--vizi:link, .button--vizi:visited {
  color: #fff;
    background-color: #337CCC;
}
.root[data-is-touch=false] .button--vizi:hover {
  color: #fff;
  background-color: #2D6CB3;
}
.button--height, .button--height:link, .button--height:visited {
  color: #000;
  background-color: $button-color;
}
.root[data-is-touch=false] .button--height:hover {
  color: #000;
  background-color: $button-color;
}
.button--illatos, .button--illatos:link, .button--illatos:visited {
  color: #fff;
  background-color: #BB4AD4;
}


.taxa-container {
    width: 50%;
  background-color: $card-background-color;
  /* Add padding: top right bottom left */
  padding: 20px 0 20px 20px;
  box-sizing: border-box; /* Include padding in width */
  cursor: pointer;
  font-size: map-get($base, font-size-h5);
  font-weight: 400;
  border-radius: map-get($base, border-radius);
  height: fit-content;
}
.taxa-info {
  width: 100%; /* width for the main content */
  /* Add padding: top right bottom left */
  padding: 20px 0 20px 20px;
  box-sizing: border-box; /* Include padding in width */
  cursor: pointer;
  font-size: map-get($base, font-size-h5);
  font-weight: 400;
  border-radius: map-get($base, border-radius);
}


summary {
  list-style: none;
  /* padding: top right bottom left */
  padding: 5px 0 5px 5px;
  border-bottom-left-radius: map-get($base, border-radius);
  border-top-left-radius: map-get($base, border-radius);
}

summary.active {
  background-color: $background-color; /* Example styling */
  border-bottom-left-radius: map-get($base, border-radius);
  border-top-left-radius: map-get($base, border-radius);
}

summary:hover.active {
  background-color: $background-color;
  text-decoration: underline;
  border-bottom-left-radius: map-get($base, border-radius);
  border-top-left-radius: map-get($base, border-radius);
}

summary:hover {
  background-color: $summary-hover-color;
  text-decoration: underline;
  border-bottom-left-radius: map-get($base, border-radius);
  border-top-left-radius: map-get($base, border-radius);
}
summary.summary--dark {
    background-color: $card-background-color;
}

.top-taxa3 {
  margin-left: 40px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #aaa;
  border-radius: map-get($base, border-radius);
}

.sub-taxa3 {
  margin-left: 40px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #aaa;
  border-radius: map-get($base, border-radius);
}

.taxa-list {
  width: 100%; /* width for the main content */
  /* Add padding: top right bottom left */
  padding: 20px 0 0 20px;
  box-sizing: border-box; /* Include padding in width */
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  }

.taxa_title {
  font-size: map-get($base, font-size-h2);
  font-weight: 300;
}

.image-container {
  width: 100%; /* Adjust as needed for two images of 300px each */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents images from wrapping to the next line */
}

.image-wrapper {
  //display: inline-flex; /* Use inline-flex to keep images in a row */
}

.image-wrapper img {
  height: 25rem; /* Set the height of the images */
  object-fit: contain; /* Ensures images maintain aspect ratio */
  margin-right: 10px; /* Optional: Add space between images */
}

.image-container::-webkit-scrollbar {
  height: 14px; /* Height of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker color on hover */
}
.marker {
    color:  #aaa;
}
.flex {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow the TOC and content to wrap if needed */
  }
.flex-classes, .flex-orders, .flex-family, .flex-genus, .flex-taxa{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
    border-radius: map-get($base, border-radius);
}

.black {
    color: black !important;
    }

.center {
  text-align: center;
}