---
layout: none
---
{%- include snippets/get-lang.html -%}

<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap">
    <link href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />

    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
    </script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    {%- include scripts/variables.html -%}
    <title></title>
      </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>

  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
        $(document).ready(function(){
          $('[data-featherlight]').featherlight({
            targetAttr: 'data-featherlight',
            closeOnClick:   'false',
            openSpeed:    1,
            closeSpeed:   1,
          });
            $('.gallery').featherlightGallery({
                gallery: {
                    fadeIn: 1,
                    fadeOut: 1
                },
                openSpeed:    1,
                closeSpeed:   1,
            });
        });
		</script>
  </body>
</html>
