---
layout: none
---
{%- include snippets/get-lang.html -%}

<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
      var msnry = new Masonry('.masonry-grid', {
        itemSelector: '.card',
        gutter: 10 // Set the gutter size
      });

      // Use imagesLoaded to trigger layout after all images have loaded
      imagesLoaded('.masonry-grid', function() {
        msnry.layout(); // Trigger Masonry layout
      });

      // Recalculate layout on window resize
      window.addEventListener('resize', function() {
        msnry.layout();
      });
        </script>

    {%- include scripts/variables.html -%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap">
    <title></title>
      </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
  </body>
</html>
