---
layout: article
---

{% assign plant_data = site.data.padapt | where: "taxon_lat", page.title | first %}

<div class="image-container">
    <div class="image-wrapper" data-featherlight-gallery data-featherlight-filter="a">
        <a id="target-a1"><img id="target-image-1" alt="{{plant_data.name}}"></a>
        <a id="target-a2"><img id="target-image-2" alt="{{plant_data.name}}"></a>
        <a id="target-a3"><img id="target-image-3" alt="{{plant_data.name}}"></a>
        <a id="target-a4"><img id="target-image-4" alt="{{plant_data.name}}"></a>
        <a id="target-a5"><img id="target-image-5" alt="{{plant_data.name}}"></a>
    </div>
</div>


{% assign dictionary=site.data.dictionary %}

{% assign eletforma = plant_data['Életforma'] %}
{%if eletforma %}
<p class="success">Életforma: <b>{{eletforma}}</b> {{ dictionary[eletforma][0].title }}<br>{{ dictionary[eletforma][0].desc }}</p>
{%endif%}

{% assign szoc = plant_data['Szociális magatartási típus'] %}
{%if szoc%}
<p class="success">Szociális magatartási típus: <b>{{szoc}}</b><br>{{dictionary[szoc][0].desc }}</p>
{%endif%}

{% assign floraelem = plant_data['Flóraelem besorolás'] %}
{%if floraelem%}
<p class="success">Flóraelem besorolás: <b>{{floraelem}}</b><br>{{dictionary[floraelem][0].title }}</p>
{%endif%}

{% assign inv = plant_data['invasion_status_hu'] %}
{%if inv%}
<p class="success">Inváziós státusz: <b>{{inv}}</b> {{dictionary[inv][0].desc }}</p>
{%endif%}

{% assign terjedes = plant_data['Terjedési stratégia'] %}
<p class="success">Terjedési stratégia: <b>{{terjedes}}</b> <br>{{dictionary[terjedes][0].desc }} </p>

<script>
    fetch("https://api.inaturalist.org/v1/taxa/autocomplete?q={{page.title}}&rank=species,subspecies,variation,hybrid&locale=hu")
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    // Check if results exist and if the first result has a default_photo
    if (data.results && data.results.length > 0) {

      if (data.results[0].preferred_common_name)
      {
        const preferredCommonName = data.results[0].preferred_common_name;
        document.getElementById('title_preferred_common_name').innerText = preferredCommonName.charAt(0).toUpperCase() + preferredCommonName.slice(1); // Capitalize the name
      }

      if (data.results[0].english_common_name)
      {
        const englishCommonName = data.results[0].english_common_name;
        document.getElementById('title_english_common_name').innerText = englishCommonName; // Display the name
      }

      const taxa_id = data.results[0].id; // Declare taxa_id here

      // Second fetch using the extracted taxa_id
      return fetch(`https://api.inaturalist.org/v1/taxa/${taxa_id}`);
    } else {
      console.error('No results found.');
    }
  })
  .then(response => {
    if (response) { // Ensure response is defined
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    }
  })
  .then(taxaData => {
    if (taxaData.results && taxaData.results.length > 0) {

        const firstResult = taxaData.results[0].taxon_photos;
        if (firstResult) {
          document.getElementById('target-image-1').src = firstResult[0].photo.medium_url;
          document.getElementById('target-a1').href = firstResult[0].photo.large_url;
          document.getElementById('target-image-2').src = firstResult[1].photo.medium_url;
          document.getElementById('target-a2').href = firstResult[1].photo.large_url;
          document.getElementById('target-image-3').src = firstResult[2].photo.medium_url;
          document.getElementById('target-a3').href = firstResult[2].photo.large_url;
          document.getElementById('target-image-4').src = firstResult[3].photo.medium_url;
          document.getElementById('target-a4').href = firstResult[3].photo.large_url;
          document.getElementById('target-image-5').src = firstResult[4].photo.medium_url;
          document.getElementById('target-a5').href = firstResult[4].photo.large_url;

        } else {
          console.error('No default photo available for the first result.');
        }
      } else {
        console.error('No results found.');
      }
  })
  .catch(error => {
    console.error('Error:', error);
  });

</script>