---
layout: article
---

<div class="masonry-grid">
{% for docu in site.padapt %}
    {% if docu.tags contains page.tags
    or docu['Flóraelem besorolás'] contains page.tags
    or docu['Életforma'] contains page.tags
    or docu['nativeness_hu'] contains page.tags
    or docu['Maximum magasság'] == page.tags
    or docu['Szociális magatartási típus'] contains page.tags %}
    {% assign tax = docu.taxon_lat %}
    <a href="{{ docu.url }}">
        <div class=" card card--clickable masonry-item">
            <div class="card__content">
                <div class="card__header">
                    {{ tax }}
                    <img id="{{ tax }}-cover" alt="{{ tax }}"/>
                </div>
                {%- include article-info.html article=docu show_date=false -%}
            </div>
        </div>
    </a>

    <script>
        (function (tax) {
            fetch("https://api.inaturalist.org/v1/taxa?q=" + tax + "&order=desc&order_by=observations_count&rank=species,subspecies,variety")
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    // Check if results exist and if the first result has a default_photo
                    if (data.results && data.results.length > 0 && data.results[0].default_photo) {
                        document.getElementById(tax + '-cover').src = data.results[0].default_photo.medium_url;
                    } else {
                        console.error('No results found for:', tax);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })("{{ tax }}");
    </script>
    <script>
        var grid = document.querySelector('.masonry-grid');
        var msnry = new Masonry(grid, {
            itemSelector: '.masonry-item',
            columnWidth: '.masonry-item',
            gutter: 16,
            transitionDuration: 0,
        });
        imagesLoaded('.masonry-grid', function () {
            msnry.layout(); // Trigger Masonry layout
        });
        imagesLoaded(grid).on('progress', function () {
            msnry.layout();
        });
        window.addEventListener('resize', function () {
            msnry.layout();
        });
        window.addEventListener('scroll', function () {
            msnry.layout();
        });
    </script>

{% endif %}

{%endfor%}
</div>

<script>
    {%- include scripts/archieve.js -%}
</script>

