---
layout: article
---

{% assign padapt-data = site.data.padapt %}

{% for row in padapt-data %}
{% if row.class_lat contains page.taxonomy %}
{% assign orders = orders | append: row.order_lat | append: "," %}
{% endif %}
{% endfor %}

{% assign unique_orders = orders | split: "," | uniq | sort %}

{% include orders.html unique_orders=unique_orders %}


{% for row in padapt-data %}
{% if row.order_lat == page.taxonomy %}
{% assign family = family | append: row.family_lat | append: "," %}
{% endif %}
{% endfor %}
{% assign unique_families = family | split: "," | uniq | sort %}

{% include family.html unique_families=unique_families %}


{% for row in padapt-data %}
{% if row.family_lat == page.taxonomy %}
{% assign genus = genus | append: row.genus_lat | append: "," %}
{% endif %}
{% endfor %}
{% assign unique_genuses = genus | split: "," | uniq | sort %}

{% include genus.html unique_genuses=unique_genuses %}


<div class="flex-taxa masonry-grid">
    {% for docu in site.padapt %}
    {% if docu.genus_lat == page.taxonomy %}
    {% assign tax = docu.taxon_lat %}
    <a href="{{ docu.url }}">
        <div class=" card card--clickable masonry-item">
            <div class="card__content">
                <div class="card__header">
                    {{ tax }}
                    <img id="{{ tax }}-cover" alt="{{ tax }}"/>
                </div>
                {%- include article-info.html article=docu show_date=false -%}
            </div>
        </div>
    </a>
    <script>
        (function (tax) {
            fetch("https://api.inaturalist.org/v1/taxa?q=" + tax + "&order=desc&order_by=observations_count&rank=species,subspecies,variety,form")
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Check if results exist and if the first result has a default_photo
                    if (data.results && data.results.length > 0 && data.results[0].default_photo) {
                        document.getElementById(tax + '-cover').src = data.results[0].default_photo.medium_url;
                    } else {
                        console.error('No results found for:', tax);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })("{{ tax }}");
    </script>
    <script>
        var grid = document.querySelector('.flex-taxa');
        var msnry = new Masonry(grid, {
            itemSelector: '.masonry-item',
            columnWidth: '.masonry-item',
            transitionDuration: 0,
            gutter: 16,
        });
        imagesLoaded(grid).on('progress', function () {
            msnry.layout();
        });
        window.addEventListener('scroll', function () {
            msnry.layout();
        });
        window.addEventListener('resize', function () {
            msnry.layout();
        });

    </script>

    {% endif %}
    {%endfor%}
</div>


<script>
        {%- include scripts/archieve.js -%}
</script>

