---
layout: article
---
<div id="taxa-info">
</div>
<div id="taxa-cards" class="taxa-cards masonry-grid" data-masonry='{ "itemSelector": ".card"}'>
{% for current_page in site.species %}
{% if current_page.taxonomy contains page.taxonomy %}
        <a href="{{ current_page.url }}">
            <div class="card card--clickable masonry-item">
        <div class="card__content">
            <div class="card__header" >
                {{ current_page.title }}
                {% if current_page.image %}
                <img src="{{ current_page.image}}"  alt=""/>
                {%endif%}
            </div>
                {%- include article-info.html article=current_page show_date=false -%}
        </div>
        </div>
        </a>
{%endif%}
{% endfor %}
</div>

<h4>Pages</h4>
<div class="js-result layout--archive__result d-none">
    {% assign current_pages = site.pages %}
    {% for current_page in current_pages %}
    {% if current_page.taxonomy%}
    {% if current_page.taxonomy contains page.taxonomy %}
    <article class="item">
        <div class="item__image">
            {% if current_page.image %}
            <img class="image image--sm" src="{{ current_page.image}}"  alt=""/>
            {% else %}
            <img class="image image--sm" src="/assets/images/cover.png" alt="Logo" />
            {%endif%}
        </div>
        <div class="item__content">
            {% if current_page.title %}
            {% assign page_title = current_page.title %}
            {%else%}
            {% assign page_title = current_page.name | filename_cleaner %}
            {%endif%}
            <header><a href="{{ current_page.url }}"><h3 itemprop="headline" class="item__header">{{ page_title }}</h3></a></header>
            {%- include article-info.html article=current_page show_date=false -%}
        </div>
    </article>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}
</div><br>

<h4>Posts with {{page.taxonomy}}</h4>
<div class="js-result layout--archive__result d-none">
    {% assign site_posts = site.posts %}
    {% for site_post in site_posts %}
    {% if site_post.taxonomy%}
    {% if site_post.taxonomy contains page.taxonomy %}
    <article class="item">
        <div class="item__image">
            {% if site_post.image %}
            <img class="image image--sm" src="{{ site_post.image}}"  alt=""/>
            {% else %}
            <img class="image image--sm" src="/assets/images/cover.png" alt="Logo" />
            {%endif%}
        </div>
        <div class="item__content">
            {% if site_post.title %}
            {% assign page_title = site_post.title %}
            {%else%}
            {% assign page_title = site_post.name | filename_cleaner %}
            {%endif%}
            <header><a href="{{ site_post.url }}"><h3 itemprop="headline" class="item__header">{{ page_title }}</h3></a></header>
            {%- include article-info.html article=site_post show_date=false -%}
        </div>
    </article>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}
</div><br>
<script>
    {%- include scripts/archieve.js -%}
</script>
